body{
    font-family: arial,sans-serif;
}
ul, li {
    flex-flow:row wrap ;
    list-style-type: none;
    display: inline;
   
    
}

nav {
    display: inline;
    position: fixed;
    right: 2%;
    top:2%;
}

.button {
    border:1px solid #4285f4;
    background: -moz-linear-gradient(top,#4387fd,#4683ea);
}

.login {
    color: white;
    font-style: bold;
    padding-top:12px;
    padding-left: 12px;
    padding-bottom: 12px;
    padding-right: 12px;
}


.content {
    display: flexbox;
    text-align: center;
    margin-top: 18%;
}


.searchfield {
    border-radius: 25px;
    background-image: url(/assets/pic/) ;
}
footer {
    background-color:#f2f2f2;
    position:absolute;
    bottom: 0em;
    width: 99%;
    

}

.country {
    margin-left: 2%;
    border-bottom:solid 1px black;
}


.menu-footer{
    display: flex;
    padding: 0;
    margin-left: 2%;
    justify-content: space-evenly;
}

.left{
    align-items: flex-start;
    float:left;
}

.right{
    align-items: flex-end;
    float:right;
}