ul, li {
    flex-flow:row wrap ;
    list-style-type: none;
    display: inline;
   
    
}

nav {
    display: inline;
    position: fixed;
    right: 2%;
    top:2%;
}

.content {
    display: flexbox;
    text-align: center;
    margin-top: 10%;
}


.searchfield {
    border-radius: 25px;
    background-image: ;
}
footer {
    background-color:yellow;
    position:absolute;
    bottom: 0em;
    width: 99%;
    

}

.country {
    margin-left: 2%;
    border-bottom:solid 1px black;
}


.menu-footer{
    display: inline-flex;
    padding: 0;
    margin-left: 2%;
    justify-content: space-evenly;
}